@tailwind base;
@tailwind utilities;
@tailwind components;

.fade-enter-active,
.fade-leave-active {
  transition-property: opacity;
  transition-duration: 0.25s;
}

.fade-enter-active {
  transition-delay: 0.25s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* 设置根字体大小为 1rem = 10px (默认值)，并根据屏幕宽度动态调整 */
html {
  font-size: calc(10px + 1vw); /* 1vw = 1% of viewport wi`dth */
}

/* 在桌面端，保持更大的字体 */
@media (min-width: 1200px) {
  html {
    font-size: 16px; /* 保持电脑端字体更大 */
  }
}

/* 在移动端，保持更小的字体 */
@media (max-width: 768px) {
  html {
    font-size: 12px; /* 保持移动端字体稍小 */
  }
}
